<h2 class='orderTitle'>Past Orders</h2>
<p><% @orders.each do |order| %></p>
    <div class='orders'>
        <p class='item'>Title: <%= order.listing.title%></p>
        <p class='item'>Price: $<%= order.listing.price %></p>
        <p class='item'>Placed on: <%= order.listing.created_at %></p>
    </div>

<% end %>