<h1><%= @listing.title %></h1>
<p><%= cl_image_tag @listing.image.key, crop: :scale, width: 120, height: 120%></p>
<p><%= link_to 'Buy Now', buy_path, method: 'PATCH'%></p>
<p><%= link_to '<<Back', :back %></p>